div.olMap {
background: #81bee7 !important;
}

div.olMapViewport {
z-index: 0;
}

div.olControlScale {
right: 3px;
bottom: 3em;
display: block;
position: absolute;
font-size: smaller;
}

div.olControlScaleLine {
left: 10px;
bottom: 25px;
font-size: x-small;
}

div.olControlScaleLineBottom {
border: solid 2px #000;
border-bottom: none;
margin-top: -2px;
text-align: center;
}

div.olControlScaleLineTop {
border: solid 2px #000;
border-top: none;
text-align: center;
}

div.olControlPermalink {
bottom: 1.5em;
display: block;
font-size: 65%;
position: absolute;
right: 3px;
}

div.olControlAttribution {
bottom: 0;
display: block;
font-size: 65%;
position: absolute;
right: 3px;
}

div.olControlAttribution a {
color: #393939;
padding: 3px;
}


div.olControlAttribution a:hover,
div.olControlAttribution a:active {
color: #ff8b38;
background: #4c4c4c;
text-decoration: none;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

div.olControlMousePosition {
left: 10px;
bottom: 0;
display: block;
font-family: Arial;
position: absolute;
font-size: x-small;
}

.splash-screen {
font-size: 135%;
padding: 20px;
}

.clear-button {
background-image: url(images/ui/buttons/clear.gif)!important;
}

.print-button {
background-image: url(images/ui/buttons/print.gif)!important;
}

.link-button {
background-image: url(images/ui/buttons/link.gif)!important;
}

.feedback-button {
background-image: url(images/ui/buttons/feedback.gif)!important;
}

.fullScreen-button {
background-image: url(images/ui/buttons/fullscreen.gif)!important;
}

.measure-button {
background-image: url(images/ui/buttons/measure.gif)!important;
}

.reverse-button {
background-image: url(images/ui/buttons/reverse.png)!important;
}

.edit-button {
background-image: url(images/ui/buttons/edit.png)!important;
}

button.home {
background-image: url(images/ui/buttons/logoSmall.gif);
background-repeat: no-repeat;
}

.cFromHere {
background: transparent url(images/ui/buttons/from_here.png) no-repeat scroll 0;
}

.cToHere {
background: transparent url(images/ui/buttons/to_here.png) no-repeat scroll 0;
}

.cCenterMap {
background: transparent url(images/ui/buttons/center.png) no-repeat scroll 0;
}

.cZoomIn {
background: transparent url(images/ui/buttons/zoom_in.png) no-repeat scroll 0;
}

.cZoomOut {
background: transparent url(images/ui/buttons/zoom_out.png) no-repeat scroll 0;
}

.cPrevious {
background: transparent url(images/ui/buttons/previous.png) no-repeat scroll 0;
}

.cNext {
background: transparent url(images/ui/buttons/next.png) no-repeat scroll 0;
}

.planner-panel {
background-image: url(images/ui/buttons/tripplanner.png)!important;
width:28px;
}

.systemmap-panel {
width:28px;
height:16px;
background-image: url(images/ui/buttons/systemmap.png)!important;
}

/* Show alternative routes */
.dir-alt-route-inner {
    padding: 2px 4px 2px 20px;
    font-family: arial, sans serif;
    font-size: 13px;    
}

#trip-details {
  border: 1px solid #4c4c4c;
  background-color: #f9f9f9;
  cursor: text;
  padding: 10px 0 10px 10px;
}

#trip-details table td {
  font: 80%/120% "Helvetica Neue", Arial, Helvetica, sans-serif;
  vertical-align: top;
  padding: 0 8px 2px 0;
}

#trip-details h3 {
    color: lightgray;
    font: bold 18px/20px Arial,Helvetica,sans-serif;
    margin: 0 0 5px;
    padding: 0;
}

.trip-details-shell {
    background-color: #FFF;
    cursor: text;
    padding: 0 15px 20px;
}

.no-icon {
    line-height: 0;
    background-image: none!important;
    border: 0!important;
    padding: 0!important;
}

#tp-accordion .x-panel-body {
    background-color: #e6e6e6;
    border-color: #D0D0D0;
}

#tp-accordion .x-panel-btns {
    background-color: #4c4c4c;
    border-color: #D0D0D0;
}

#tp-accordion .x-form-item {
    font-size: 9pt;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#tp-accordion .x-form-field {
    font-size: 9pt;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#tripplanner-panel .x-tree-node-leaf {
    background-color: #e6e6e6;
}

#tripplanner-panel .x-tree-node-over {
background-color: #f0f0f0;
}

#tripplanner-panel .x-tree-selected {
background-color: #fff;
}

#tripplanner-panel span .x-tab-strip-text {
text-align: center;
}

#tripplanner-panel .x-form fieldset {
border: 0 none transparent;
margin-bottom: 5px;
padding: 8px;
}

#tripplanner-panel .itiny ol.steps {
    padding-left: 2em !important;
    font-size: 0.9em;
 }
 
 #tripplanner-panel .itiny ol.steps li {
     list-style-type: decimal !important;
 }
 
 .canvas-container {
    overflow: auto;
 }

/* FRANK ADDED schedules.css OVERRIDE */
strong {
    font-weight: bold;
 }
 
/*  for map tooltip popups */
.olPopup,
.olPopup > div,
.olHoverPopup,
.olHoverPopup > div {
    background-color: transparent!important;
    overflow: visible!important;
}

 
.mapTooltipPopup {
    background: url("images/map/trip/tooltip-popup-bg.png") no-repeat scroll 0 0 transparent;
    height: 45px !important;
    width:  212px !important;
    padding: 2px 0 0 11px !important;
    left: 0px;
    top: -12px;
    font-size: 12px;
    position: relative;
    background-color: transparent !important;
    overflow: visible !important;
}

.mapTooltipPopup img {
    top: 4px;
}

.mapStreetviewPopup {
    background: url("images/map/trip/streetview-popup-bg.png") no-repeat scroll 0 0 transparent;
    height: 210px !important;
    width:  320px !important;
    padding: 21px 0 0 17px !important;
    top: -21px;
    left: 0px;
    font-size: 12px;
    position: relative;
    background-color: transparent !important;
    overflow: visible !important;
}

#mapStreetviewPopup .olPopupCloseBox {
    right:   2px !important;
    top:   -19px !important;
}

.stopid {
    color: #808080 !important;
    font: 95%/105% Arial, Helvetica, sans-serif;
}
.leg-info {
    padding: 3px 0px 3px 0px !important;
}
.agency-leg-info {
    color: #808080 !important;
    font: 95%/105% Arial, Helvetica, sans-serif;
    padding: 1px 0px 5px 0px !important;
}

.agency-leg-info a:link {
    font-weight: 600;
    color: #808080 !important;
}

.agency-leg-info a:visited {
    font-weight: 600;
    color: #808080 !important;
}

.agency-leg-info a:hover {
    font-weight: 600;
    text-decoration: underline !important;
    color: #ff8b38;
}

.show-hide-details {
    font: 90%/100% Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 600;
    padding: 2px 0px 5px 0px !important;
    color: #808080 !important;
}
.show-hide-details span:hover {
    font-weight: 700;
    text-decoration: underline !important;
    color: #ff8b38;
}

p.alert {
    padding: 4px 10px 4px 2px !important;
    font: 90%/100% Arial, Helvetica, sans-serif;
}
p.alert img {
    padding-left:-2px;
}

.duration {
background-image: url(images/ui/trip/tdots.gif)!important;
background-repeat: no-repeat;
background-position: left center;
color: #888;
text-indent: 40px;
font-size: 90%;
}

.transfers {
  color: #888;
  font-size: 90%;
}

a:link {
font-weight: 700;
text-decoration: none;
color: #ff8b38;
}

a:visited {
font-weight: 700;
text-decoration: none;
color: #ff8b38;
}

a:hover {
text-decoration: underline;
color: #ff6a00;
}

a:active {
text-decoration: underline;
color: #ff6a00;
}

#footer_liq {
padding-bottom: 0;
padding-top: 0;
margin: 0 auto;
}

.x-tree {
background: #FFF!important;
}

.x-tree-root-node {
white-space: normal!important;
margin: 0!important;
padding: 0!important;
}

.x-tree-node {
white-space: normal!important;
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
margin: 0!important;
padding: 0!important;
}

.x-tree-node img {
white-space: normal!important;
margin: 0!important;
padding: 0!important;
}

.x-tree-node a span {
white-space: normal!important;
margin: 0!important;
padding: 0!important;
}

.x-tree-node .x-tree-node-over {
background-color: #EBEEF4;
}

.x-tree-node .x-tree-selected {
background-color: #FFF7BF;
}

img.x-tree-node-icon {
margin: 0 7px 0 0 !important;
}

img.x-tree-ec-icon {
margin: 0 7px 0 0 !important;
}

.x-tree-node-indent {
display: none;
visibility: collapse;
}

.x-tree-node-expanded .x-tree-node-icon {
height: 1px;
width: 1px;
}

.x-tree-node-collapsed .x-tree-node-icon {
height: 1px;
width: 1px;
}

.x-tree-node .x-tree-selected a span {
color: #000;
font-weight: 400;
}

.x-tree-node div.itinys-node {
background: #eee url(images/ui/bg.gif) repeat-x;
margin-top: 1px;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ccc;
padding-top: 2px;
padding-bottom: 1px;
}

.x-tree-icon {
background-repeat: no-repeat;
border: 0 none;
height: 20px;
vertical-align: middle;
width: 2px;
margin: 1pt;
padding: 0;
}

.x-tree-elbow-line {
background-repeat: no-repeat;
border: 0 none;
height: 20px;
vertical-align: middle;
width: 2px;
margin: 1pt;
padding: 0;
}

.x-tree-elbow {
background-repeat: no-repeat;
border: 0 none;
height: 20px;
vertical-align: middle;
width: 2px;
margin: 1pt;
padding: 0;
}

.x-tree-elbow-end {
background-repeat: no-repeat;
border: 0 none;
height: 20px;
vertical-align: middle;
width: 2px;
margin: 1pt;
padding: 0;
}

.x-tree-node-el h4 {
vertical-align: middle;
margin-top: 2px;
margin-bottom: 5px;
}

.x-tree-node-leaf h4 {
vertical-align: middle;
margin-top: 2px;
margin-bottom: 5px;
}

.x-unselectable h4 {
vertical-align: middle;
margin-top: 2px;
margin-bottom: 5px;
}

.itiny h4, .itiny-note h4 {
vertical-align: middle;
margin-top: 2px;
margin-bottom: 5px;
}

.x-tree-selectedh4 {
vertical-align: middle;
margin-top: 2px;
margin-bottom: 5px;
}

.x-tree-node-over h4 {
vertical-align: middle;
margin-top: 2px;
margin-bottom: 5px;
}

a.x-tree-node-anchor:link, a.x-tree-node-anchor:visited {
    font-weight: normal;
}

.itiny, .itiny-note {
font-size: 12px;
padding-left: 7px;
padding-top: 3px;
min-height: 24px!important;
border-top: 1px solid #808080;
vertical-align: middle;
margin: 0;
}

.itiny .x-tree-ec-icon {
display: none;
}


.itiny-steps {
font-size: 11px;
padding-left: 10px;
padding-top: 3px;
min-height: 16px!important;
/*border-bottom: 1px groove #707070; */
vertical-align: middle;
margin: 0;
}

.itiny-inline-icon {
float: left;
width: 21px !important;
height: 21px !important;
}

/* IMPORTANT (don't delete: itiny-step-icon is a duplicate to inline here, but not so for printing */
.itiny-step-icon {
float: left;
width: 21px !important;
height: 21px !important;
}

.popup-route-icon {
float: left;
height: 18px;
width: 18px;
margin: 0 5 0 0;
}

.new-tab {
background-image: url(images/ui/trip/triangle.png)!important;
}

.load-icon {
background-image: url(images/ui/trip/triangle.png)!important;
}

li.x-tree-node {
margin: 0;
padding: 0;
}

.start-icon {
border: 0!important;
background-image: url(images/ui/trip/start.png)!important;
float: left;
width: 21px!important;
height: 21px!important;
padding: 0!important;
}
.itinys-icon {display: none; visibility: collapse;}
.start-icon {background-image:url(images/ui/trip/start.png)!important;float:left;width:21px!important;height:21px!important;}
.end-icon {background-image:url(images/ui/trip/end.png) !important;float:left;width:21px!important;height:21px!important;}
.caution-icon {background-image:url(images/ui/trip/caution.gif) !important;float:left;width:20px!important;height:20px!important;}
.busish-icon,.bus-icon {background-image:url(images/ui/trip/mode/bus.png) !important;float:left;width:21px!important;height:21px!important;}
.subway-icon,.transit-icon {background-image:url(images/ui/trip/mode/subway.png) !important;float:left;width:21px!important;height:21px!important;}
.ltrail-icon, .light_trail-icon {background-image:url(images/ui/trip/mode/lite_rail.png) !important;float:left;width:21px!important;height:21px!important;}
.commuter-icon,.rail-icon,.commrail-icon,.trainish-icon {background-image:url(images/ui/trip/mode/rail.png) !important;float:left;width:21px!important;height:21px!important;}
.funicular-icon,.gondola-icon {background-image:url(images/ui/trip/mode/gondola.png) !important;float:left;width:21px!important;height:21px!important;}
.tram-icon,.streetcar-icon {background-image:url(images/ui/trip/mode/tram.png) !important;float:left;width:21px!important;height:21px!important;}
.cable_car-icon,.trolley-icon,{background-image:url(images/ui/trip/mode/trolly.png) !important;float:left;width:21px!important;height:21px!important;}
.walk-icon {background-image:url(images/ui/trip/mode/walk.png) !important;float:left;width:21px!important;height:21px!important;}
.bike-icon,.bicycle-icon {background-image:url(images/ui/trip/mode/bike.png) !important;float:left;width:21px!important;height:21px!important;}
.plane-icon{background-image:url(images/ui/trip/mode/plane.png) !important;float:left;width:21px!important;height:21px!important;}
.x-tree-elbow-minus, .x-tree-elbow-plus{float: left;}

li.departure {
clear: both;
margin: 0 0 5px;
}

.end-icon {
border: 0!important;
background-image: url(images/ui/trip/end.png)!important;
float: left;
width: 21px!important;
height: 21px!important;
padding: 0!important;
}


.walk-icon {
border: 0!important;
background-image: url(images/ui/trip/mode/walk.png)!important;
float: left;
padding: 0!important;
}

.itinys-icon {
display: none;
visibility: collapse;
}

.x-tree-elbow-minus {
float: left;
}

.x-tree-elbow-plus {
float: left;
}

.x-tree-no-lines .x-tree-elbow-minus {
vertical-align: top;
background-position: 1pt 50%;
background-image: url(images/ui/buttons/zip-minus.gif);
}

.x-tree-no-lines .x-tree-elbow-plus {
vertical-align: top;
background-position: 1pt 50%;
background-image: url(images/ui/buttons/zip-plus.gif);
}

.ext-el-mask {
background: #EBEEF4;
}

.x-grid3-td-title b {
display: block;
color: #333;
}

.x-grid3-td-title b i {
font-weight: 400;
font-style: normal;
color: #000;
}

.x-grid3-td-title .topic {
padding-left: 20px;
background: transparent url(images/ui/bg.gif) no-repeat 0 2px;
}

.x-grid3-td-title .x-grid3-cell-inner {
white-space: normal;
}

.x-grid3-td-title a {
color: #3B5A95;
text-decoration: none;
}

.x-grid3-td-title a:hover {
text-decoration: underline;
}

.details .x-btn-text {
background-image: url(images/ui/bg.gif);
}

.x-border-layout-ct {
background: #fff;
}

.x-layout-split {
background-color: transparent!important;
}

.forum-ct a span {
font-weight: 400;
color: #222;
}

#main-tabs .x-tab-panel-body {
background: transparent;
border: 0 none;
}

.preview .x-panel-body {
background: #fff;
color: #222;
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.preview .x-panel-body p {
margin: 0;
}

.preview .x-panel-body ul {
margin-left: 0;
}

.preview .x-panel-body ul li {
display: list-item;
list-style-image: none!important;
list-style-position: outside!important;
list-style-type: none!important;
margin-left: 0;
}

.preview .x-panel-body pre {
background: #f1f1f1;
display: block;
}

#preview .x-panel-body code {
background: #f1f1f1;
display: block;
}

.preview .x-panel-body h4.post-author {
font-weight: 400;
color: #555;
}

.preview .x-panel-body span.post-date {
font-weight: 400;
color: #555;
float: right;
}

.preview .x-panel-body div.post-data {
background: #FFF;
border-bottom: 1px solid #EBEEF4;
padding: 5px;
}

.preview .x-panel-body div.post-body {
padding: 10px;
}

.reading-menu .x-menu-item-checked {
border: 1px dotted #a3bae9!important;
background: #DFE8F6;
padding: 0;
}

.x-tab-panel-header {
border-width: 0!important;
}

#suggested {
border-top: 0 none;
}

#suggested a {
text-decoration: none;
color: #3B5A95;
display: block;
float: right;
margin-right: 4px;
padding: 3px;
}

#suggested a:hover {
text-decoration: underline;
color: #F30;
}

.x-combo-list-item {
zoom: 1;
border: 1px solid #fff;
border-bottom: 1px solid #eee;
white-space: normal;
color: #555;
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
padding: 3px 10px;
}

.x-combo-list-item strong {
color: #777;
font-style: normal;
float: left;
}

.x-combo-list-item em {
color: #222;
font-style: normal;
float: left;
width: 325px;
}

.x-node-ctx {
background: #eee!important;
border: 1px solid #ccc!important;
}

.x-window-dlg .ext-mb-textarea {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-combo-list-small .x-combo-list-item {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-combo-list-hd {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#x-debug-browser .x-tree .x-tree-node a span {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-box-mc {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-menu-list-item {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-tip .x-tip-body {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-tip .x-tip-header-text {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-date-mp-btns button {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-date-mp td {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-date-inner th {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-date-middle {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-date-left {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-date-right {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-dd-drag-ghost {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-grid-empty {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-grid-group-hd div {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-grid3-topbar {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-grid3-bottombar {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-grid3-hd-row td {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-grid3-row td {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-grid3-summary-row td {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-toolbar td {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-toolbar span {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-toolbar input {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-toolbar div {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-toolbar select {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-toolbar label {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-btn button {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-btn {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-fieldset legend {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ext-safari .x-small-editor .x-form-field {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-small-editor .x-form-field {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-form-invalid-msg {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-form-item {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-form-grow-sizer {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-form-field {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.x-tab-strip span.x-tab-strip-text {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ext-el-mask-msg div {
font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* CSS Overrides
These rules fix the broken map widget in Safari and Chrome.
See http://opentripplanner.org/ticket/257
*/

/**---------------------------------------------------------------
*** Safari override fixes                                                     
***---------------------------------------------------------------*/
.ext-safari .x-date-picker {
    width: 185px;
}

/**---------------------------------------------------------------
*** Chrome override fixes                                                     
***---------------------------------------------------------------*/
.ext-chrome .x-date-picker {
    width: 185px;
}