/*
 * Open Trip Planner CSS 
 */

/************* OpenLayers Stuff *******************/
div.olMapViewport { 
    z-index: 0; 
}

div.olControlScale {
    right: 3px;
    bottom: 3em;
    display: block;
    position: absolute;
    font-size: smaller;
}
div.olControlScaleLine {
   left: 10px;
   bottom: 25px;
   font-size: x-small;
}
div.olControlScaleLineBottom {
   border: solid 2px black;
   border-bottom: none;
   margin-top:-2px;
   text-align: center;
}
div.olControlScaleLineTop {
   border: solid 2px black;
   border-top: none;
   text-align: center;
}
div.olControlPermalink {
  bottom:1.5em;
  display:block;
  font-size:65%;
  position:absolute;
  right:3px;
}
div.olControlAttribution {
  bottom:0.0em;
  display:block;
  font-size:65%;
  position:absolute;
  right:3px;
}
div.olControlMousePosition {
  left: 10px;
  bottom:0.0em;
  display:block;
  font-family:Arial;
  position:absolute;
  font-size:x-small;
}


/******************* Ext Stuff ****************/

/* buttons */
.clear-button {
    background-image:url(/images/ui/buttons/clear.gif)  !important;
}
.print-button {
    background-image:url(/images/ui/buttons/print.gif)  !important;
}
.feedback-button {
    background-image:url(/images/ui/buttons/feedback.gif)  !important;
}
.fullScreen-button {
    background-image:url(/images/ui/buttons/fullscreen.gif)  !important;
}
.measure-button {
    background-image:url(/images/ui/buttons/measure.gif)  !important;
}
.reverse-button {
   background-image: url(/images/ui/buttons/reverse.png) !important;
}
.edit-button {
   background-image: url(/images/ui/buttons/edit.png) !important;
}

button.home {
   background-image: url(/images/ui/buttons/logoSmall.gif);
   background-repeat: no-repeat;
}

/* context menu */ 
.cFromHere {
    background: transparent url(/images/ui/buttons/from_here.png) no-repeat scroll 0%;
}
.cToHere {
    background: transparent url(/images/ui/buttons/to_here.png) no-repeat scroll 0%;
}
.cCenterMap {
    background: transparent url(/images/ui/buttons/center.png) no-repeat scroll 0%;
}
.cZoomIn {
    background: transparent url(/images/ui/buttons/zoom_in.png) no-repeat scroll 0%;
}
.cZoomOut {
    background: transparent url(/images/ui/buttons/zoom_out.png) no-repeat scroll 0%;
}
.cPrevious {
    background: transparent url(/images/ui/buttons/previous.png) no-repeat scroll 0%;
}
.cNext {
    background: transparent url(/images/ui/buttons/next.png) no-repeat scroll 0%;
}


.planner-panel {
    background-image:url(/images/ui/buttons/tripplaner.gif) !important;
}

#trip-details {
    border: 1px solid #BFBFBF;
    background-color: #F2F2F2;
    padding: 10px 0 10px 10px;
    cursor:text;
}
#trip-details table td {
        font: 80%/120% Arial, Helvetica, sans-serif;
        vertical-align: top;
        padding: 0px 8px 2px 0px;
    }
.trip-details-shell {
    padding: 0px 15px 20px;
    background-color:#FFFFFF;
    cursor:text;
}
.no-icon {
    line-height: 0;
    background-image:none !important;
    padding:0px!important;
    border:0!important;
}

#tp-accordion .x-panel-body, #tp-accordion .x-panel-btns {
  background-color:#F0F0F0;
  border-color:#D0D0D0;
}

#tp-accordion .x-form-item, #tp-accordion .x-form-field {
      font-size:   9pt;
      font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#tripplanner-panel .x-tree-node-leaf {
    background-color:#FFFFFF;
}
#tripplanner-panel .x-tree-node-over {
    background-color:#F0F0D0;
}
#tripplanner-panel .x-tree-selected {
    background-color:#E0E0E0;
}


#tripplanner-panel span .x-tab-strip-text {
  text-align:center;
}

#tripplanner-panel .x-form fieldset {
    border:0 none transparent;
    margin-bottom:5px;
    padding:8px;
}

/*
.x-form-field   {font-size: 90%;}
.x-form-item label  {font-size: 90%;}
*/


/* FRANK ADDED schedules.css OVERRIDE */
.duration {
    background-image:url(/images/ui/trip/tdots.gif) !important;
    background-repeat: no-repeat;
    background-position:left center;
    color:#888888;
    text-indent:40px;
    font-size: 80%;
}

.transfers {
    color:#888888;
    font-size: 80%;
}

a:link, a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #3B5A95;
	}

a:hover, a:active { 
	text-decoration: underline; 
	color: #FF3300;
	}

#footer_liq {
    margin: 0px auto;
    padding-bottom:0px;
    padding-top:0px;
}

/* override of Ext's default CSS stuff */

/* Tree Node*/
.x-tree {background:#FFF !important;}

.x-tree-root-node, .x-tree-node, .x-tree-node img, .x-tree-node a span 
	{white-space:normal!important; margin: 0!important; padding: 0!important;}

.x-tree-node .x-tree-node-over{background-color:#EBEEF4;}

.x-tree-node .x-tree-selected{background-color:#FFF7BF;}

img.x-tree-node-icon, img.x-tree-ec-icon {margin:0px 7px 0px 0px !important;}

.x-tree-node-indent {display:none; visibility:collapse;}

.x-tree-node-expanded  .x-tree-node-icon, 
.x-tree-node-collapsed .x-tree-node-icon {height:1px; width:1px;}

.x-tree-node .x-tree-selected a span{
	color:       black;	
    font-weight: normal;
}

.x-tree-node div.itinys-node{
    background:#eee url(/images/ui/bg.gif) repeat-x;
    margin-top:1px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ccc;
    padding-top:2px;
    padding-bottom:1px;
}

.x-tree-icon, .x-tree-elbow-line, .x-tree-elbow, .x-tree-elbow-end {
   background-repeat:no-repeat;
   border:0pt none;
   height:20px;
   margin:1pt;
   padding:0pt;
   vertical-align:middle;
   width:2px;
}

.x-tree-node-el h4, .x-tree-node-leaf h4, .x-unselectable h4, .itiny h4, .x-tree-selectedh4, .x-tree-node-over h4 {
    vertical-align:middle;
    margin-top:2px;
    margin-bottom:5px;
}

.itiny {
    font-size   : 12px;
    border-color: #DDDDDD #FFFFFF #EEFFAA;
    margin: 0px;
    padding-left: 7px;
    padding-top:  3px;
    min-height:   24px!important;
    border-style:solid;
    border-bottom:1px solid #aaa;
    border-width:1px;
    vertical-align:middle;
}

/*.itiny-node  {padding: 7px;}*/
.itiny .x-tree-ec-icon {display:none;}

.new-tab {background-image:url(/images/ui/trip/triangle.png) !important;}
.load-icon {background-image:url(/images/ui/trip/triangle.png) !important;}

li.x-tree-node{margin:0px;padding:0px;}

.start-icon, .end-icon, .bus-icon, .streetcar-icon, .ltrail-icon, .commrail-icon, .tram-icon, .walk-icon
{padding:0px!important;border:0!important;}

.itinys-icon {display: none; visibility: collapse;}
.start-icon {background-image:url(/images/ui/trip/start.png)!important;float:left;width:21px!important;height:21px!important;}
.end-icon {background-image:url(/images/ui/trip/end.png) !important;float:left;width:21px!important;height:21px!important;}
.bus-icon {background-image:url(/images/ui/trip/mode/bus.gif) !important;float:left;width:16px!important;height:17px!important;}
.ltrail-icon {background-image:url(/images/ui/trip/mode/rail.gif) !important;float:left;}
.commrail-icon {background-image:url(/images/ui/trip/mode/cr.gif) !important;float:left;}
.tram-icon {background-image:url(/images/ui/trip/mode/tram.gif) !important;float:left;}
.streetcar-icon {background-image:url(/images/ui/trip/mode/streetcar.gif) !important;float:left;}
.walk-icon {background-image:url(/images/ui/trip/mode/walk.gif) !important;float:left;}
.x-tree-elbow-minus, .x-tree-elbow-plus	{float: left;}

.x-tree-no-lines .x-tree-elbow-minus {
  vertical-align: top;
  background-position:1pt 50%;
  background-image:url(/images/ui/buttons/zip-minus.gif);
}
.x-tree-no-lines .x-tree-elbow-plus {
  vertical-align: top;
  background-position:1pt 50%;
  background-image:url(/images/ui/buttons/zip-plus.gif);
}



/**** Structure ****/
.ext-el-mask {
    background:#EBEEF4;
}
.x-grid3-td-title b {
    display:block;
    color:#333;
}
.x-grid3-td-title b i {
    font-weight:normal;
    font-style: normal;
    color:#000;
}
.x-grid3-td-title .topic {
    padding-left:20px;
    background:transparent url(/images/ui/bg.gif) no-repeat 0 2px;
}
.x-grid3-td-title .x-grid3-cell-inner {
    white-space:normal;
}
.x-grid3-td-title a {
    color: #3B5A95;
    text-decoration:none;
}
.x-grid3-td-title a:hover {
    text-decoration:underline;
}
.details .x-btn-text {
    background-image: url(/images/ui/bg.gif);
}

.x-grid3-row-body p {
    /*margin:5px 20px 10px 25px !important;
    color:#000;*/
}
.x-border-layout-ct {
    background:transparent;
}
body.x-border-layout-ct {
    background:#EBEEF4 url(/images/ui/bg.gif) repeat-x left top !important;
}
.x-layout-split {
    background-color:transparent !important;
}
.forum-ct a span {
    font-weight:normal;
    color:#222;
}
#topic-grid .x-panel-tbar .x-toolbar {
   /* border-top:0 none; */
}
#main-tabs .x-tab-panel-body {
    background:transparent;
    border:0 none;
}


/* Preview classes */
.preview .x-panel-body {
    background  : #fff;
    color       : #222;
    font-family : Verdana, Arial, Helvetica, sans-serif;
}
.preview .x-panel-body p {
    margin:0px 0;
}
.preview .x-panel-body ul {
    margin-left:0px;
}
.preview .x-panel-body ul li {
    display:list-item;
    list-style-image:none !important;
    list-style-position:outside !important;
    list-style-type:none !important;
    margin-left:0px;   
}
.preview .x-panel-body pre, #preview .x-panel-body code {
    background:#f1f1f1;
    display:block;
}
.preview .x-panel-body h4.post-author {
    font-weight:normal;
    color:#555;
}
.preview .x-panel-body span.post-date {
    font-weight:normal;
    color:#555;
    float:right;
}
.preview .x-panel-body div.post-data {
    background:#FFFFFF;
    padding:5px;
    border-bottom:1px solid #EBEEF4;
}
.preview .x-panel-body div.post-body {
    padding:10px;
}
/*.single-preview .x-toolbar, #right-preview .preview .x-toolbar {
    border-top:0 none;
}*/
.reading-menu .x-menu-item-checked {
   border:1px dotted #a3bae9 !important;
    background:#DFE8F6;
	padding:0;
}
.x-tab-panel-header {
    border-bottom-width:0 !important;
}
#suggested {
    border-top:0 none;
}
#suggested a {
    text-decoration:none;
    color: #3B5A95;
    display:block;
    padding:3px;
    float:right;
    margin-right:4px;
}
#suggested a:hover {
    text-decoration:underline;
    color:#FF3300;
}
.x-combo-list-item {
    zoom:1;

    padding:3px 10px 3px 10px;
    border:1px solid #fff;
    border-bottom:1px solid #eeeeee;
    white-space:normal;
    color:#555;
}
.x-combo-list-item strong {
    color:#777;
    font-style: normal;
    float:left;
}
.x-combo-list-item em {
    color:#222;
    font-style: normal;
    float:left;
    width:325px;
}
.x-node-ctx {
    background:#eee !important;
    border:1px solid #ccc !important;
}
/* Font Overrides */
.x-window-dlg .ext-mb-textarea, .x-combo-list-small .x-combo-list-item, .x-combo-list-item, .x-combo-list-hd, #x-debug-browser .x-tree .x-tree-node a span, .x-box-mc, .x-menu-list-item, .x-tip .x-tip-body, .x-tip .x-tip-header-text, .x-date-mp-btns button, .x-date-mp td, .x-date-inner th, .x-date-middle, .x-date-left, .x-date-right, .x-tree-node, .x-dd-drag-ghost, .x-grid-empty, .x-grid-group-hd div, .x-grid3-topbar, .x-grid3-bottombar, .x-grid3-hd-row td, .x-grid3-row td, .x-grid3-summary-row td, .x-toolbar td,.x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label, .x-btn button, .x-btn, .x-fieldset legend, .ext-safari .x-small-editor .x-form-field, .x-small-editor .x-form-field, .x-form-invalid-msg, .x-form-item, .x-form-grow-sizer, .x-form-field, .x-tab-strip span.x-tab-strip-text, .ext-el-mask-msg div{font-family: Verdana, Arial, Helvetica, sans-serif;}
