dependency-reduced-pom.xml
target/
build/
dist/
docs/_build/
otp-core/build/
otp-core/.gradle/
otp-admin-client/src/main/webapp/js/otp-min.js
otp-rest-servlet/src/main/resources/
otp-openlayers-client/src/main/webapp/js/lib-min.js
otp-openlayers-client/src/main/webapp/js/otp-min.js
*~
.classpath
.project
.pydevproject
.settings
.gradle
*.ipr
*.iml
*.iws
*.swp
.externalToolBuilders
gen-java/
gen-javabean/
gen-py/
.idea/
.sonar
_site/
/otp
/otp-batch-analyst
