
# Files
.classpath
.externalToolBuilders
.gradle
.project
.pydevproject
.settings
.sonar
.nvmrc
*~
*.ipr
*.iml
*.iws
*.swp
*.DS_Store
*.snap.debug
dependency-reduced-pom.xml
interactive_otp_main.json
/otp
/otp-ui
Dockerfile
.java-version

# Directories
.idea/
.run/
.venv/
_site/
build/
dist/
docs/_build/
gen-java/
gen-javabean/
gen-py/
node_modules/
target/
/graphs

# for local dev only
src/ext/resources/reportapi/report.csv

streetGraph.obj
graph.obj

smoke-tests/*.jar
smoke-tests/**/*.obj
smoke-tests/**/*.pbf
smoke-tests/**/*.zip
