
# Files
.classpath
.externalToolBuilders
.gradle
.project
.pydevproject
.settings
.sonar
*~
*.swp
*.DS_Store
*.snap.debug
dependency-reduced-pom.xml
interactive_otp_main.json
/otp
/otp-ui

# Directories
.run/
.venv/
_site/
build/
dist/
docs/_build/
gen-java/
gen-javabean/
gen-py/
node_modules/
target/
/graphs

# for local dev only
src/ext/resources/reportapi/report.csv


# IntelliJ
#
# See also: .idea/.gitignore

*.iml
*.ipr
*.iws
out/
.idea_modules/
