# This file configures the generation of static documentation by MkDocs
# based on Markdown source files in the 'docs' directory of the OTP repo.
# This static documentation is built and served by Readthedocs
# at opentripplanner.readthedocs.org

site_name: OpenTripPlanner 2
site_url: http://docs.opentripplanner.org
repo_url: http://github.com/opentripplanner/OpenTripPlanner
docs_dir: docs
site_dir: target/mkdocs

# MkDocs will automatically discover pages if you don't list them here.
# In that case subdirectories can be used to organize pages.
# The list below organizes them into categories and controls the order.

pages:
- Home: 'index.md'
- About:
    - Governance: 'Governance.md'
    - History: 'History.md'
    - Deployments: 'Deployments.md'
    - Changelog: 'Changelog.md'
    - Comparing OTP2 to OTP1: 'Version-Comparison.md'
    - OTP2 migration guide: 'OTP2-MigrationGuide.md'
    - Visual Identity: 'Visual-Identity.md'
- 'Usage':
    - Basic Tutorial: 'Basic-Tutorial.md'
    - Getting OTP: 'Getting-OTP.md'
    - Configuration: 'Configuration.md'
    - Preparing OSM Data: 'Preparing-OSM.md'
    - Netex and SIRI: 'Netex-Norway.md'
    - Security: 'Security.md'
    - Troubleshooting: 'Troubleshooting-Routing.md'
- Development:
    - "Developers' Guide": 'Developers-Guide.md'
    - Interfaces and Data Sources: 'Interfaces-Data-Sources.md'
    - Localization: 'Localization.md'
    - Bibliography: 'Bibliography.md'
    - Codestyle: 'Codestyle.md'
    - Sandbox development: 'SandboxExtension.md'
- Sandbox:
    - Health API: 'sandbox/HealthAPI.md'
    - Direct transfer analyzer: 'sandbox/transferanalyzer.md'
    - Google Cloud Storage: 'sandbox/GoogleCloudStorage.md'
    - HSL Legacy GraphQL API: 'sandbox/LegacyGraphQLApi.md'
    - Transmodel(NeTEx) GrpahQL API: 'sandbox/TransmodelApi.md'
    - SIRI Updater: 'sandbox/SiriUpdator.md'
    - Bike Rental Service Directory API support: 'sandbox/BikeRentalServiceDirectory.md'
    - Mapbox Vector Tiles API: 'sandbox/MapboxVectorTilesApi.md'
    - Report API: 'sandbox/ReportApi.md'
    - Interactive OTP Launcher: 'sandbox/InteractiveOtpMain.md'
    - Sandbox Extension Example: 'sandbox/Examples.md'
    - Park and Ride API: 'sandbox/ParkAndRideApi.md'
