#{script 'jquery-1.8.2.js' /}

<a href="@{Secure.logout()}">Log out</a>

<p><b>All users:</b>
<table border=0 cellpadding=4 cellspacing=6>
    <tr>
        <td style='background-color: #444; color: white'>TriNet Username</td> 
        <td style='background-color: #444; color: white'>User Role</td> 
        <td style='background-color: #444; color: white'>Other Actions</td> 
    </tr>    
#{list users, as:'user'}
    <tr>
        <td style='background-color: #ddd;'>${user.username}</td> 
        <td style='background-color: #ddd;'>
            <b>${user.role}</b>&nbsp;&nbsp;
            [ Reassign: 
                #{if user.role != "calltaker"}
                    (<a href="/admin/changeUserRole?id=${user.id}&role=calltaker">calltaker</a>) 
                #{/if}
                #{if user.role != "fieldtrip"}
                    (<a href="/admin/changeUserRole?id=${user.id}&role=fieldtrip">fieldtrip</a>) 
                #{/if}
                #{if user.role != "all"}
                    (<a href="/admin/changeUserRole?id=${user.id}&role=all">all</a>) 
                #{/if}
            ]
        </td>
        <td style='background-color: #ddd;'>
            [<a href="javascript:deleteUser(${user.id}, '${user.username}')">Delete</a>]
        </td>
    </tr>
#{/list}
</table>

#{form @Admin.addUser(), id:'addUserForm'}

<input type="hidden" name="username" value="${admin_username}" />
<input type="hidden" name="password" value="${admin_password}" />
       
<p><b>Add new:</b>
<br> 

Username: <input id="username" name="user.username" />&nbsp;

Role: <select name="user.role">
    <option value="calltaker">Calltaker</option>
    <option value="fieldtrip">Field trip scheduler</option>
    <option value="all">All Roles</option>
</select>

    
<!--<input type="submit" value="Add" style="font-size: 14px;" />-->
<!--<span id="addUserButton" style="cursor:pointer; border: 2px solid gray; width: 60px; padding: 3px; margin: 4px auto; background: white;">Add User</span>-->
<button id="addUserButton">Add User</button>

#{/form}


<div style="margin-top: 20px; text-align: center;"></div>

<script type="text/javascript" language="javascript">
$(document).ready(function() {
    $("#addUserButton").click(function(evt) {
        evt.preventDefault();
        addUserClicked();
    });
});

function addUserClicked() {
    var username = $("#username").val();

    var regularExpression = /^[a-z0-9]+$/i;
    if(regularExpression.test(username)) {
        document.forms["addUserForm"].submit();
    }
    else {
        alert("Not a valid username (alphanumeric only, no spaces or special characters)");
    }
}

function deleteUser(id, name) {
    var response = confirm('Are you sure you want to delete user ' + name + '?');
    if(response === true) {    
        console.log('delete '+id);
        window.location = "/admin/deleteUser?id=" + id;
    }
}

</script>