<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<libraries library-dir="./lib"/>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<resourceBundle name="text"/>
	<extensions>
		<extension class-name="org.gvsig.scolab.otp.LoadOTPGraphExtension"
			description="Extension that shows edges and vertices from OTP graph object"
			active="true">
			<menu text="OTP/load_otp_graph" icon="load_otp_graph"/>
			<tool-bar name="OTP" position="13">
				<action-tool icon="load_otp_graph"	tooltip="load_otp_graph" position="2"/>
			</tool-bar>
		</extension>
	</extensions>
</plugin-config>
