<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- print out file and line number in parenthesis, which Eclipse and IDEA will link -->
      <pattern>%d{HH:mm:ss.SSS} %level \(%F:%L\) %msg%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="com.amazonaws" level="INFO"/>
  <logger name="org.apache.http" level="INFO" />
  <logger name="com.conveyal" level="INFO"/>

  <logger name="org.opentripplanner.graph_builder.module.DirectTransferGenerator" level="info" />
  <logger name="org.opentripplanner" level="info" />
  <logger name="org.opentripplanner.analyst" level="info" />
  <logger name="org.opentripplanner.routing" level="info" />
  <logger name="org.opentripplanner.routing.impl.RetryingPathServiceImpl" level="info" />
  <logger name="org.opentripplanner.routing.algorithm.GenericAStar" level="info" />
  <!-- Avoid printing debug messages about free-flowing vertices -->
  <logger name="org.opentripplanner.routing.vertextype.IntersectionVertex" level="info" />
  <!-- Avoid printing debug messages when walk limits are exceeded -->
  <logger name="org.opentripplanner.routing.edgetype.PlainStreetEdge" level="info" />
  <!-- Avoid printing info messages about calendars when building graph -->
  <logger name="org.onebusaway.gtfs.impl.calendar.CalendarServiceDataFactoryImpl" level="warn" />
  <!-- Avoid printing ugly warning message when unable to create websocket connection -->
  <logger name="com.ning.http.client.providers.netty.NettyAsyncHttpProvider" level="error" />
  
  <logger name="com.sun.jersey" level="debug" />
  
</configuration>
