#{stylesheet 'main.css' /}

<div class="mainContent">

<h2>Field trips for ${monthName} ${day}, ${year}:</h2>
  #{list items:fieldTrips, as:'fieldTrip'}
  <div class="tripHeader">${fieldTrip.getRequest().schoolName} Trip to ${fieldTrip.getRequest().endLocation}</div>
  <div class="tripBody">
    <ul>
    #{list items:fieldTrip.groupItineraries, as:'itinerary'}
      <li style="margin-top: .4em;">${itinerary.passengers} passengers on:
        <ul>
        #{list items:itinerary.trips, as:'gtfsTrip'}
        <li><b>${gtfsTrip.routeName}</b> (Trip ID ${gtfsTrip.agencyAndId}),  
            departing ${gtfsTrip.depart},
            arriving ${gtfsTrip.arrive}</li>
        #{/list}
        </ul>
      </li>
    #{/list}
    </ul>
  </div>
  #{/list}
  #{else}
    <i>No trips planned for this day.
  #{/else}

</div>