#{stylesheet 'main.css' /}

<div class="mainContent">

#{if errCode == 'ok' }

    <h2>Request Submitted</h2>

    Thank you. Your request has been submitted.

    <p>
    TriMet Field Trip Program<br>
    701 SW 6th Ave.<br>
    Portland, OR 97204<br>
    Email:  <a href="mailto:fieldtrips@trimet.org">fieldtrips@trimet.org</a><br>
    Phone:  503-962-2424, option 4<br>
    Fax:  503-962-2482<br>

#{/if}

#{elseif errCode == 'err_recaptcha' }
    <h2>Invalid ReCaptcha Response</h2>
    
    The user verification text you entered was not valid. Please try again. (You may use your browser's "Back" button to return to the request form.)
#{/elseif}

#{elseif errCode == 'err_teachername' }
    <h2>Invalid Teacher Name</h2>
    
    The teacher name you entered was not valid. Please try again. (You may use your browser's "Back" button to return to the request form.)
#{/elseif}

#{elseif errCode == 'err_traveldate' }
    <h2>Invalid Travel Date</h2>
    
    The travel date you entered was not valid. Please try again. (You may use your browser's "Back" button to return to the request form.)
#{/elseif}

#{else}
    Error submitting request (errCode = ${errCode})
#{/else}

</div>

