/* Field Trip Widget */

.otp-fieldTripManager {
  bottom: 20px;
  right: 10px;
  background: blue;
  height: 300px;
  width: 480px;
}


.otp-fieldTripManager-tabs { 
    padding: 0px; 
} 

.otp-fieldTripManager-tabs .ui-tabs-nav { 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 

.otp-fieldTripManager-tabs .ui-tabs-panel { 
    margin: 0em 0.2em 0.2em 0.2em; 
}

.otp-fieldTripManager-tabbedArea {
    padding: 0px;
    margin: 0px;
    border: 2px solid blue;    
    background: red;
}


.otp-fieldTripManager-requestsList {
    position: absolute;
    background: white;
    overflow: auto;
    border: 1px solid black;
    top: 48px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}



.otp-fieldTripManager-callListContainer {
    background: white;
    border: 1px solid black;
    width: 200px;
    float: left;
    margin-right: 10px;
}

.otp-fieldTripManager-callListHeader {
    padding: 4px;
    line-height: 18px;
    height: 42px;
    background: #ddd;
}

.otp-fieldTripManager-callList {
    overflow: auto;
    height: 150px;
}

.otp-fieldTripManager-callInfo {
    padding: 4px;
    height: 160px;
    background: #eee;
    overflow: auto;
    width: 200px;
}

.otp-fieldTrip-buttonRow {
    padding: 10px 0px 5px 0px;
    text-align: center;
}

.otp-saveFieldTripWidget {
}

.otp-fieldTripManager-tripRow {
    background: #eee;
    margin: 4px;
    padding: 4px;
    cursor: pointer;
}

.otp-fieldTripManager-tripDetail {
    margin-bottom: 4px;
}

/** FieldTripRequests widget **/

.otp-fieldTripRequestsWidget {
  width: 300px;
  bottom: 20px;
  right: 460px;
  height: 325px;
}

.otp-fieldTripRequests-list {
    height: 100%;
    background: white;
    border: 1px solid black;
    overflow: auto;
}

.otp-fieldTripRequests-buttonRow {
    text-align: center;
    margin-top: 8px;
}

.otp-fieldTripRequests-listRow {
    margin: 6px;
    padding: 4px;
    background: #eee;
    cursor: pointer;
    border: 1px solid gray;
}


/** FieldTripRequest widget **/

.otp-fieldTrip-requestWidget {
    width: 450px;
    top: 50px;
    height: 80%;
}

.otp-fieldTrip-requestWidget-content {
    position: absolute;
    top: 30px;
    bottom: 12px;
    left:10px;
    right: 10px;
}

.otp-fieldTrip-requestWidget-summary {
    position: absolute;
    overflow: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 180px;
    border: 1px solid gray;
    padding: 10px;
    background: white;
}

.otp-fieldTrip-requestWidget-tripBoxContainer {
    position: absolute;
    width: 50%;
    height: 120px;
    padding: 0px;
    bottom: 50px;
    
}

.otp-fieldTrip-requestWidget-bottomRow {
    position: absolute;
    width: 100%;
    height: 40px;
    padding: 0px;
    bottom: 0px;
}

.otp-fieldTrip-requestWidget-tripBox {
    position: relative;
    height: 100px;
    padding: 8px;
    border: 2px solid gray;
    text-align: center;
}

.otp-fieldTrip-requestWidget-planInfo {
    text-align: left;
    background: white;
    padding: 4px;
    font-style: italic;
    font-size: 11px;
    margin-top: 2px;
    height: 26px;
    border: 1px solid #ccc;
    overflow: auto;
}

.otp-fieldTrip-requestWidget-button {
    width:95%;
    margin-top: 5px;
    overflow: hidden;
    height: 20px;
}

/** Geocoder widget **/

.otp-fieldTrip-geocoder {
    width: 500px;
    height: 250px;
}

.otp-fieldTrip-geocoder-endpointContainer {
    position: absolute;
    width: 50%;
    top: 0px;
    padding: 0px;
    bottom: 35px;   
}

.otp-fieldTrip-geocoder-endpointBox {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 8px;
    border: 2px solid gray;
}

.otp-fieldTrip-geocoder-endpointBox h6 {
    font-size: 14px;
    margin-bottom: 4px;
    text-align: center;   
}


.otp-fieldTrip-geocoder-listContainer {
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 8px;
    top: 70px; 
}

.otp-fieldTrip-geocoder-buttonRow {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    text-align: center;   
}


/** printable plan **/

.otp-fieldtrip-printablePlan-tripContainer {
    margin-top: 1em;
    background: #ddd;
}

.otp-fieldtrip-printablePlan-tripHeader {
    padding: 4px;
    font-size: 20px;
    font-weight: bold;
}

.otp-fieldtrip-printablePlan-tripBody {
    padding: 8px;
}

.otp-fieldtrip-printablePlan-itinContainer {
    border: 3px solid #444;
    margin-top: .5em;
}

.otp-fieldtrip-printablePlan-itinHeader {
    padding: 4px;
    background: #444;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.otp-fieldtrip-printablePlan-itinBody {
    padding: 12px;
    background: white;
}


.otp-fieldtrip-searchWidget {
    width: 480px;
    height: 450px;
}

.otp-fieldtrip-searchWidget-tabArea {
    position: absolute;
    background: white;
    overflow: auto;
    top: 48px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}