.navbar {
  background-color: #fff;
}

.navbar-container {
  margin-left: 1rem;
}

.navbar-brand {
  color: #4078bc;
}

.itinerary-list-container {
  width: 36rem;
  height: calc(100vh - 200px);
  overflow: scroll;
}
