
# This is a test input file (and this line is a comment).

graphPath  /var/otp/graphs
inputPath  /home/abyrd/otpa/data
outputPath /home/abyrd/otpa/results
origins {
  type csv
  filename origins.csv
  labelCol 1
  latCol 2
  lonCol 3
  magnitudeCol 4
  filters {
    nanInfFilter
    inputClampFilter
    graphGeographicFilter {
      stopsOnly true
      bufferMeters 2000
    }
  }
}
targets {
  type shp
  filename targets.shp
  labelAttribute GEOID10
}
batch {
  date 2012-07-12
  time 08:00:00
  timeZone America/New_York
  threshold 3000
  mode accumulator
}
request {
  routerId trimet
  maxWalkDistance 2000
  clampInitialWait 1800
  arriveBy false
  modes WALK,TRANSIT
}

