
#ui-datepicker-div table {
    border-bottom: 0;
    border-top: 0;
    margin-bottom: 0;
    background: transparent;
}
#ui-datepicker-div table tr {
    background: transparent;
}
#ui-datepicker-div table th {
    background: #fff;
    color: #444;
    font-size: 11px;
}

.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

.ui-datepicker-trigger {
    padding-left: 5px;
    vertical-align: middle;
}

