# This config file is invalid since it has an extra closing bracket
numbers {
    one   1
    two   2
    three 3
    four {
        un    1.0
        deux  2.0
        trois 3.0
    }
}
ichi 1
ni   2
san  3
# The bracket on the following line doesn't match anything
}
alpha ALPHA
beta  BETA
gamma GAMMA
