# This config file is invalid because it has two children with the same name
numbers {
    one   1
    two   2
    three 3
    four {
        quatre {
            sigma SIG
            delta DEL
        }
        un    1.0
        deux  2.0
        trois 3.0
        quatre {
            one_point_one 1.1
            two_point_two 2.2
        }
    }
}
