/* Multimodal Module Widget Styles */

.otp-stopViewer {
    /*height: 150px;*/
    width: 300px;
}

.otp-stopViewer-select {
    margin-bottom: 4px;
}

.otp-stopViewer-stopTimes {
    position: relative;
    height: 42px;
    border: 1px solid black;
    background: white;
    overflow: hidden;
}

.otp-stopViewer-stopTimes-advancer {
    height: 40px;
    width: 30px;
    position: absolute;
    top: 0px;
    background: #fff;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
    text-align:center;
}

.otp-stopViewer-stopTimes-timeBox {
    position: absolute;
    background: #fff;
    text-align:center;
    font-weight: bold;
    color: gray; 
    z-index: 5;
}
